<div class="container">
  <div><h1>Datos a ver</h1>


<div class="btn-group" role="group" aria-label="Basic outlined example">
  <div><button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">Menu</button>
<div class="offcanvas-body">
  </div>
</div>
<div class="offcanvas offcanvas-start" style="background:black;" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="btn-no" id="offcanvasWithBackdropLabel">Others</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
                        <a href="/datos" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Datos
                        </a>
                        <a href="/entretenimiento" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            Entretenimiento
                        </a>
                        <a href="/create" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            AddNote
                        </a>

                        <a href="/about" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            About
                        </a>
                        <a href="/logout" class="btn-no">
                            <span id="sp1"></span><span id="sp2"></span>
                            <span id="sp3"></span><span id="sp4"></span>
                            logout
                        </a>
  </div>
</div>
<div>
  <a href="/" class="btn btn-outline-secondary" style="margin: 0 10px;" >Home</a></div>
</div>
    
</div>

<table class="table table-dark table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each task}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{title}}</td>
      <td>{{description}}</td>
      <td>
          <form action="/datos/delete" method="post">
          <input type="hidden" value="{{id}}" name="id">
            <button type="submit" class="btn btn-outline-danger"><span style="color:black;">Delete</span></button>
            
          </form>
          <a class="btn btn-outline-warning" href="/datos/edit/{{id}}">Edit</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
